@import "tailwindcss";
@config "./tailwind.config.js";
@import "@heroui/styles"; 


body {
  background-color: #020408;
  color: #ffffff;
}

.tabular-nums {
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0b101a;
}

::-webkit-scrollbar-thumb {
  background: #1e2636;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #74FA81;
}

.race-car-path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear infinite;
}

.item {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 10px;
  border: none;
  font-size: 14px !important;
  font-weight: 300;
  line-height: 1.4;
  color: white;
  outline: none;
  min-height: 60px;
  width: 100%;
  max-width: 320px;
  white-space: nowrap;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item:has(.handle) {
  padding-inline-end: 10px;
}

.item:not(:has(.handle)) {
  cursor: grab;
}

.item[aria-grabbed="true"],
.item[data-shadow] {
  transform: scale(1.03);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(30, 38, 54,0.9);
}

.item[data-dnd-placeholder] {
  opacity: 0.5;
  box-shadow: none;
  transform: none;
}

.handle {
  display: flex;
  width: 12px;
  padding: 15px;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  touch-action: none;
  cursor: grab;
  border-radius: 5px;
  border: none;
  outline: none;
  appearance: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-user-select: none;
}

.handle:hover, .handle:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.handle:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0), inset 0 0 0 2.5px #4c9ffe;
}

.handle::before {
  /*content: ' ';*/
  display: block;
  width: 12px;
  height: 12px;
  flex-shrink: 0;
}

.green-primary-input:focus {
    border-color: #74FA81 !important;
    box-shadow: 0 0 0 1px #74FA81 !important;
}